* {
    margin: 0;
    padding: 0;
}

hr {
    color: #3066CA; /* Цвет линии для остальных браузеров */
    height: 2px; /* Толщина линии */
}

a { 
    text-decoration: none;
    color: #1E1E1E;
} 

header {
    background-color: #632497;
    width: 100%;
    height: 10%;
}

body {
    width: 100%;
    background-color: #BEC9F9;
}

/*
#DADAE6
#6677CC    
*/


footer {
    display: flex;
    justify-content: space-around;
    height: 5%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #644A9A;
}

label {
	font-family: 'Odibee Sans', cursive;
	font-size: 23px;
	letter-spacing: 1px;
	color: #1E1E1E;
}