.div-footer-feedback {
 	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
	margin-bottom: auto;
}

.title-feedback-text {
	font-family: 'Odibee Sans', cursive;
	font-size: 30px;
	letter-spacing: 1px;
	color: #1E1E1E;
}

.feedback-text {
	font-family: 'Odibee Sans', cursive;
	font-size: 22px;
	letter-spacing: 1px;
	color: #B0D7FF;
}

.href-footer:hover {
	text-decoration: underline;
}